# Environment
.env
.env.example
.gitignore

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Build / packaging
*.egg-info/
dist/
build/

# Test cache
.pytest_cache/

# Docs
documents/